# Ignoruj pliki tymczasowe i edytorów
*.swp
*.bak
*.tmp

# Ignoruj pliki systemowe Windows i Mac
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
._*

# Ignoruj logi
*.log

# Nie ignoruj plików pakietów i indeksów
!*.ipk
!Packages
!Packages.gz
